*{
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-decoration: none;
}
body {
    font-family: raleway;
    font-size: 18px;
    display: flex;
    justify-content: center;
  }
  .container{
      max-width: 1800px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  header{
      background-image: url(images/background.jpg);
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      overflow: hidden;
      line-height: 4.5rem;
      padding: 130px 0;
  }
  h1, h2, h3 {
    font-family: 'Indie Flower', cursive;
    text-align: center;
}
h1{
    font-size: 3rem;
    text-shadow: 1px 1px 1px chartreuse;
      color: white;
      letter-spacing: -1px;
      word-spacing: -5px;
  }
  h2{
    font-size: 2rem;
    color: #404042;
    text-align: left;
    text-shadow: 1px 1px 1px #cec9c5;
    margin: 25px;
}
h3{
    font-size: 1.5rem;
    padding: 20px 0;
    text-shadow: 1px 1px 1px #cec9c5;
}
p{
    font-size: 1.2rem;
    color: #c9cec5;
    font-weight: 500;
    text-shadow: 1px 1px 1px #c7f1d7;
}
.button-blue{
    width: 180px;
    height: 55px;
    margin-top: 15px;
    background-color: #235cc7;
    border-radius: 4px;
    font-size: 1rem;
    font-weight:100;
    text-align: center;
    box-shadow: 0.1px 0.1px 3px #c9cec5;
    text-shadow: 0.1px 0.1px 3px #c9cec5;

}

  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: .3s;
  }
  
  a:hover {
    color: chartreuse;
  }
main{
   
    width: 58%;
}
  .city{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
        /* display: grid;
        display: -ms-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem; */
    }
    
  .card-white{
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      box-shadow: 1px 1px 8px #dfdfdf;
      border-radius: 3px;
      max-width: 31%;
      height: 300px;
  }
  .card-white img{
    max-width: 80%;
    height: 80%;
    border-radius: 5px;
    margin-top: 10%;
  }
  footer{
      background-color: #404042;
      text-align: center;
      padding: 20px 0;
      margin-top: 30px;
      width: 100%;
  }
  footer p{
      font-size: 1rem;
      text-shadow: 1px 1px 2px black;

  }
  .fa-heart:before{
      color: #b52e2e;
      padding: 10px;
      text-shadow: 1px 1px 5px black;
  }
  span{
      color: chartreuse;
  }
  @media screen and (max-width: 800px)  {
      .city{
          display: flex;
          flex-direction: column;
        align-items: center;
        width: 100%;
        }
      .card-white{
          margin: 10px 0;
          min-width: 100%;
      }
  }
